<div class="card" >
  <% let imageSrc = `https://image.tmdb.org/t/p/w500/${data[0].poster_path}`  %> 
  <img src=<%= imageSrc %> class="card-img-top" alt=<%= data[0].title %>>
  <div class="card-body">
    <h5 class="card-title text-center">
      <%= data[0].title %>
    </h5>
    <p class="card-text">
      <%= data[0].overview%>
    </p>
  </div>

  <button type="button" class="btn btn-success">Add to my Drey</button>
  <div class="card-body text-center">
    <p class="movieDetails">
      <% let relDate = new Date(data[0].release_date) %>
      <span>Release date: </span><%= relDate.getMonth()+1%>-<%= relDate.getDate()+1%>-<%= relDate.getFullYear()%>
    </p>
    <p class="movieDetails">
      <span>Votes: </span><%= data[0].vote_average%>/10
    </p>
  </div>
</div>